%html
  %head 
    %link{:href=>'/styles.css', :rel=>'stylesheet', :type=>'text/css'}
    %title welcome
  %body
    %form{:action=>'/admin', :method=>'post'}
      %input{:type=>'hidden', :name=>'signed_request', :value=>params['signed_request']}
      %textarea{:style=>'width:510px; height:400px;', :name=>'content'}=@content
      %input{:type=>'submit', :name=>'Save'}
