:css
  body{ margin: 0; padding: 0; overflow: hidden; }
-if @liked
  :css
    .not-fb-fan { display: none; }
-else
  :css
    .is-fb-fan { display: none; }
-if @given_email
  :css
    .not-given-email { display: none; }
-else
  :css
    .given-email { display: none; }
#{@content}
- if @admin
  %div{:class=>'admin_banner'}
    %a{:href=>"./admin", :title=>'Edit this page (only admins see this)', :target=>'wishpot_editor'} Edit Page
    %span (Only administrators see this)

