-if @liked
  :css
    .not-fb-fan { display: none; }
-else
  :css
    .is-fb-fan { display: none; }
#{@content}
- if @admin
  %div{:class=>'admin_banner'}
    %a{:href=>"./admin", :title=>'Edit this page (only admins see this)', :target=>'wishpot_editor'} Edit Page
    %span (Only administrators see this)
