%html
  %head 
    %link{:href=>'/styles.css', :rel=>'stylesheet', :type=>'text/css'}
    %title welcome
  %body
    = yield
    %div#fb-root
    %script{:type=>'text/javascript', :src=>'//connect.facebook.net/en_US/all.js'}
    %script{:type=>'text/javascript', :src=>'/scripts.js'}
    :javascript
      FB.init({
        appId:'#{@app_id}', cookie:true, 
        status:true, xfbml:true 
      });
      FB.getLoginStatus(function(response) {
        if (response.session) {
          appendDetailsToForm(response.session); 
        } else {
          // no user session available, someone you dont know
        }
      });