
/* basic facebook style for the body */
body 
{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  color: #333;
}

.wishpot_error
{
	background-color: red;
}
.wishpot_status
{
	background-color: silver;
}
