
/* basic facebook style for the body */
body 
{
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
  color: #333;
}

.admin_banner {background-color: #F4F4F4; padding: 5px; margin: 5px; z-index:99; }

.wishpot_error  {	background-color: #FF0000; }
.wishpot_status {	background-color: #66FF66; }

#venpop_logo {display:block; position: absolute; top: 20px; left: 820px;}

#page_editor { float: left; }

#help_div { float: left; width: 300px; margin-left: 5px; }
#help_div h4 { margin: 0px; }
#help_div ol { margin: 10px; padding: 2px; }
#help_div li { margin-bottom: 1em; }

#help_div .box { padding: 5px; margin-bottom: 10px; border: 1px solid #CCC; background: #F4F4F4; }

#product_list .product .img a.desktop
{
	display: inline;
}

#product_list .product .img a.mobile
{
	display: none;
}
