<table border="1" width="810px" height="800px">
<tbody>
<tr>
<td colspan="3">
<p style="font-size: 30pt; text-align: center;">Your logo goes here</p>
</td>
</tr>
<tr>
<td><img style="padding-left: 30px;" src="http://i1025.photobucket.com/albums/y320/Wishpot_photos/templates/ap_n2-brdcoco-18-w.png" alt="" /></td>
<td><img style="padding-left: 30px;" src="http://i1025.photobucket.com/albums/y320/Wishpot_photos/templates/ap_e6-slk-tas-aqu-y.png" alt="" /></td>
<td><img style="padding-left: 30px;" src="http://i1025.photobucket.com/albums/y320/Wishpot_photos/templates/ap_e4-luccub-w.png" alt="" /></td>
</tr>
<tr>
<td><img style="padding-left: 30px;" src="http://i1025.photobucket.com/albums/y320/Wishpot_photos/templates/ap_b2-vfuch-glprl-w.png" alt="" /></td>
<td><img style="padding-left: 30px;" src="http://i1025.photobucket.com/albums/y320/Wishpot_photos/templates/ap_ap9-pdar_2.png" alt="" /></td>
<td><img style="padding-left: 30px;" src="http://i1025.photobucket.com/albums/y320/Wishpot_photos/templates/ap_ap6-snk-cork.png" alt="" /></td>
</tr>
</tbody>
</table>